*{
  font-family: 'AvdiraRegular';
    font-weight: normal;
    font-style: normal;
}

#btn-holder {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 900 ;
  background-color: #837c7c80;
  border-radius: 30px;
}

body{
    margin: 5%;
    background:url('../img/back3.png') repeat-y 100% 100% fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(165, 165, 165, 0.8);
    backdrop-filter: blur(17px);
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(163, 156, 156, 0.384);
} */

button{
    border-radius: 40px;
    font-size: 48px;
    background-color: #DAA520 !important;
    font-weight: 900;
    color: #424242;
    opacity: 0.7;
    /* background: url('../img/lock.png') center no-repeat;
    background-size: contain; */
}

.back {
  position: static;
  width: 20%;
  height: 130px;
  border: 0px;
  color: rgba(0, 255, 255, 0);
  background-image: url('../img/backArrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(245, 222, 179, 0) !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 12%;
    grid-row-gap: 5%;
    height: 98vh;
  }
  
  /* @media (min-width: 576px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  } */
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 0px;
    min-height: 400px;
  }