*{
    font-family: 'AvdiraRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

#btn-holder {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 10%;
    text-align: center;
    /* padding-top: 50px; */
    /* padding-top: 0px;
    padding-bottom: 0px; */
    font-size: 17px;
    font-weight: 900 ;
    background-color: #837c7c80;
    border-radius: 10px;
    /* margin: 0 auto; */
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background:url('../img/back3.png') repeat-y 100% 100% fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgba(165, 165, 165, 0.8);
    backdrop-filter: blur(17px); */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* overflow: hidden; */
}
html{ 
    height:100%; 
    margin:0;
    padding:0;
    display:flex;
    /* align-items:flex-start;
    justify-content: center; */
}

.back {
    width: 20%;
    height: 60px;
    border: 0px;
    background-image: url('../img/backArrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(245, 222, 179, 0) !important;
}

.holder {
    font-size: 17px;
    font-weight: 900 ;
    background-color: #837c7c80;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#game-label{
    margin:0 auto;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#surveyContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-left: auto;
    margin-right: auto; */
}

#footer {
    margin-bottom: 20px;
}