*{
    font-family: 'AvdiraRegular';
    font-weight: normal;
    font-style: normal;
  }

  #btn-holder {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 900 ;
    background-color: #837c7c80;
    border-radius: 30px;
    display: flex;
  }
  #btn-holder div{
    
  }
  
  body{
      margin: 5%;
      /* background:url('../img/back2.png') repeat-y 100% 100% fixed; */
      background:url('../img/back3.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      background-color: rgba(165, 165, 165, 0.8);
  }
  
  button{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      font-size: 64px;
      background-color: #DAA520 !important;
      font-weight: 900;
      color: #424242;
      opacity: 0.7;
      /* background: url('../img/lock.png') center no-repeat;
      background-size: contain; */
  }
  
  /* label{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    font-weight: 900;
    font-style: italic;
    font-size: 40px;
    visibility: hidden;
  } */
  
  .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      /* grid-template-rows: repeat(4, 1fr); */
      grid-template-rows: auto;
      /* grid-column-gap: 12%; */
      grid-row-gap: 5%;
      height: 70vh;
      margin: 10%;
    }
    
    .grid-item {
      position:relative;
      /* padding: 10px; */
      /* min-height: 10px; */
    }

    .user-acc {
      background-image: url(../img/user-acc.png);
      background-repeat: no-repeat;
      background-size:contain;
      height: 100px;
      width: 100px;
      border-radius: 20px;
      margin-top: 40px;
      box-shadow: 12px -7px rgb(172, 121, 11);
    }
    .user-acc-class{
      margin-left: auto;
      margin-right: 210px;
    }
    #main {
      margin-left: 200px;
    }
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
      transition: all .09s ease-out;
    }

    .modal .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.7;
    }
    
    .modal.show{
      visibility: visible;
      z-index: 100;
      opacity: 1;
    }

    .modal-window {
      position: relative;
      z-index: 2;
      border-radius: 10px;
      box-shadow: 0 10px 15px;
      padding: 40px;
    }


    .container {
      width: 800px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .account-info {
      margin-bottom: 20px;
  }

  .account-info label {
      font-weight: bold;
  }

  .account-info span {
      display: inline-block;
      margin-left: 10px;
  }