table {
    background-color: rgb(226, 152, 78);
  }
  
  th, td {
    border: 10px solid rgb(255, 255, 255);
    padding: 30px;
    width: 15%;
    text-align: center;
    

  }


.auth {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .col {
    flex: 1;
    margin: 0 10px;
  }
  .col:first-child {
    margin-left: 0;
  }
  .col:last-child {
    margin-right: 0;
  }
  .image-container {
    text-align: center;
    margin: 20px 0;
  }