*{
  font-family: 'AvdiraRegular';
  font-weight: normal;
  font-style: normal;
}

#btn-holder {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#results-btn {
  position: static;
  width: 70%;
  height: 200px;
  border: 0px;
}
#categories-btn {
  position: static;
  width: 20%;
  height: 200px;
  border: 0px;
  color: rgba(0, 255, 255, 0);
  background-image: url('../img/backArrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(245, 222, 179, 0) !important;
}

body{
    margin: 5%;
    /* background:url('../img/back2.png') repeat-y 100% 100% fixed; */
    background:url('../img/back3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(165, 165, 165, 0.9);
}

button{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    font-size: 64px;
    background-color: #DAA520 !important;
    font-weight: 900;
    color: #424242;
    opacity: 0.7;
    /* background: url('../img/lock.png') center no-repeat;
    background-size: contain; */
}

label{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  font-weight: 900;
  font-style: italic;
  font-size: 40px;
  visibility: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: auto;
    grid-column-gap: 12%;
    grid-row-gap: 5%;
    height: 98vh;
    margin: 7%;
  }
  
  .grid-item {
    position:relative;
    /* padding: 10px; */
    min-height: 400px;
  }