.rd-section-center {
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
}
.center {
    text-align: center;
    max-width: 720px;
    margin: auto auto 40px;
}

.center h2 {
    
        font-size: 36px;
        line-height: 44px;
    
    font-weight: 600;
    margin-bottom: 12px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
}
.h33 {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 24px;
    font-weight: 600;
}
section {
    background-color: #181f26;
}

.rd-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
}
.rd-box .col {
    padding: 40px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
}
 .rd-box .col {
        background: #212a33;
        border-radius: 16px;
        padding: 24px;
        margin: 0 10px 40px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .h3, h3 {
        color: #f76f00;
        margin-bottom: 24px;
    }

    .rd-box li {
        list-style-type: disc;
        margin-bottom: 10px;
        margin-left: 16px;
        color: #c1cfdb;
    }
    footer {
        background-color: #f76f00;
        padding: 20px;
        text-align: center;
        height: 100px;
      }
      
      footer img {
        width: 1080px;
        height: 120px;
      }