<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="user-scalable=no">
    <title>Страница опросов</title>
    <link rel="stylesheet" href="../css/surveys.css">
    <link rel="stylesheet" href="../css/category.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/avdira-textfonts" type="text/css" />
</head>

<body>
    <div id="btn-holder">
        <button class="back" id="back"></button>
        <h2 id="choose-category">Выберите категорию</h2>
    </div>
    <div class="grid-container">
        <button type="button" class="grid-item" id="category1" onclick="choosingCategory(1)">УО "БГСХА"</button>
    </div>
    
    <script src="../js/excursion.js"></script>
</body>
</html>