<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="user-scalable=no">
    <title>Страница опросов</title>
    <link rel="stylesheet" href="../../../../css/surveys.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/avdira-textfonts" type="text/css" />
</head>

<body>
    <div id="btn-holder">
       <button id="categories-btn">К категориям</button>
       <button id="results-btn">Узнать результаты</button>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <button type="button" id="survey1" onclick="test(1)">Тест</button>
            <label>12:30</label>
        </div>
    </div>
    
    <script src="../../../../excursions/bgsxa/categories/categories.js"></script>
</body>
</html>