<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="user-scalable=no">
    <title>Страница опросов</title>
    <link rel="stylesheet" href="../../../../css/surveys.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/avdira-textfonts" type="text/css" />
</head>

<body>
    <div id="btn-holder">
        <button id="categories-btn">К категориям</button>
       <button id="results-btn">Узнать результаты</button>
    </div>
    <div class="grid-container">
        <div class="grid-item bgsxacat">
            <button type="button" id="survey1" onclick="test(1)">Агроклассы</button>
            <label>12:30</label>
        </div>
        <div class="grid-item bgsxacat">
            <button type="button" id="survey2" onclick="test(2)">Барьеры цифровизации</button>
            <label>12:30</label>
        </div>
        <div class="grid-item bgsxacat">
            <button type="button" id="survey3" onclick="test(3)">Развитие цифровизации</button>
            <label>12:30</label>
        </div>
    </div>
    
    <script>
        const button = document.getElementById("survey1");
        button.style.backgroundImage = 'url(../img/lock3.png)';
        button.style.backgroundRepeat = 'no-repeat';
        button.style.backgroundPosition = 'center center';
        button.style.backgroundAttachments = 'fixed';
        button.style.backgroundSize = 'contain';
        button.style.color = 'rgba(66, 66, 66, 0.4)';
    </script>
    <script src="../../../../polls/polls.js"></script>
</body>
</html>